---
layout: layouts/base.njk
title: Tags
permalink: /blog/tags/
---
{% from "components/blog.njk" import masthead, navigation with context %}
{% set tagCollection = collections.tagList %}
{% set tagGroups = collections.postsByTag %}
{% if lang and lang != defaultLanguage %}
  {% set tagCollection = collections[lang + "tagList"] | default(collections.tagList) %}
  {% set tagGroups = collections[lang + "postsByTag"] | default(collections.postsByTag) %}
{% endif %}
{% set langPrefix = "/" + lang if lang and lang != defaultLanguage else "" %}

<div class="blog-container">
  {{ masthead("blog.tagsTitle" | t(lang) | default("Tags"), "blog.tagsDescription" | t(lang) | default("Browse blog posts by tag."), lang) }}
  {{ navigation(lang, defaultLanguage, "tags") }}

  {% if tagCollection | length %}
  <div class="tag-cloud">
    {% for tag in tagCollection %}
    <a href="{{ langPrefix }}/blog/tags/{{ tag | slugify }}/" class="tag-link">
      <span>{{ tag }}</span>
      <span class="tag-count">{{ tagGroups[tag] | length | default(0) }}</span>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <div class="blog-empty"><p>{{ "blog.noTags" | t(lang) | default("No tags yet. Check back soon!") }}</p></div>
  {% endif %}
</div>
