---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Basilisk Blog</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{% if collections.posts | length %}{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}{% else %}{{ page.date | dateToRfc3339 }}{% endif %}</updated>
  <id>{{ site.url }}/</id>
  <author><name>{{ site.organization.name | default('The Basilisk Project') }}</name></author>
  {%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <content type="html" xml:base="{{ site.url }}{{ post.url }}"><![CDATA[{{ post.templateContent | safe }}]]></content>
    {% if post.data.description %}<summary>{{ post.data.description }}</summary>{% endif %}
  </entry>
  {%- endfor %}
</feed>
