---json
{
  "permalink": "llms.txt",
  "eleventyExcludeFromCollections": true
}
---
{#- Implements [WITHDRAWAL-COPY-FULL]. There is no documentation or blog left to
    list; a model reading this site should get the statement itself. -#}
# {{ withdrawal.title }}

> {{ withdrawal.line }}

{{ site.url }}/
