.vscode/**
.vscode-test/**
.vscode-test.mjs
.ruff_cache/**
src/**
node_modules/.package-lock.json
out/test/**
tsconfig.json
.eslintrc*
eslint-rules.cjs
eslint.config.mjs
scripts/**
**/*.ts
**/*.map
.gitignore
package-lock.json
*.vsix
